@model ShopDongHo.Models.KhachHangChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu khách hàng";
}

<div class="card mt-3 w-50 m-auto">
    <h5 class=" card-header info-color white-text text-center py-4 ">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
           
            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau)
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge badge-danger mt-2">@ViewBag.error</span>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MatKhauMoi)
                @Html.EditorFor(model => model.MatKhauMoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhauMoi, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.XacNhanMatKhauMoi)
                @Html.EditorFor(model => model.XacNhanMatKhauMoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.XacNhanMatKhauMoi, "", new { @class = "text-danger" })
            </div>


            <div class="form-group mb-0">
                <input type="submit" value="Xác nhận " class="btn btn-success" /> hoặc @Html.ActionLink("Quay về trang chủ", "Index", "Home")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}