@model ShopDongHo.Models.LoaiDH

@{
    ViewBag.Title = "Thêm loại điện thoại";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.TenLoai)
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control " } })

                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-0">
                <input type="submit" value="Thêm mới" class="btn btn-success" /> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
