@model ShopDongHo.Models.DatHang_ChiTiet

@{
    ViewBag.Title = "Đặt hàng chi tiết";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.DatHang_ID)
                @Html.DropDownList("DatHang_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DatHang_ID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DongHo_ID)
                @Html.DropDownList("DongHo_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DongHo_ID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuong)
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DonGia)
                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-0">
                <input type="submit" value="Thêm mới" class="btn btn-success" /> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}